<!doctype html>
<html>
	<!-- InstanceBegin template="/Templates/Main.dwt" codeOutsideHTMLIsLocked="false" -->

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<!-- InstanceBeginEditable name="doctitle" -->
		<title>地址管理</title>
		<!-- InstanceEndEditable -->
		<link rel="stylesheet" href="../Statics/mui.min.css" />
		<link href="../Statics/reset.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="../StaticsJS/mui.min.js" ></script>
		<script type="text/javascript" src="../StaticsJS/resizerem.js"></script>
		<script type="text/javascript" src="../StaticsJS/zepto.min.js"></script>
		<link href="../Statics/main.css" rel="stylesheet" type="text/css" />
		<!-- InstanceBeginEditable name="head" -->
		<link href="../Statics/goodsAddress.css" rel="stylesheet" type="text/css">
		<script src="../StaticsJS/goodsAddress.js" type="text/javascript"></script>
		<!-- InstanceEndEditable -->
	</head>

	<body>
		<!--模板页头部只能在Main.dwt里面修改-->
		<header></header>
		<!-- InstanceBeginEditable name="demo" -->
		<a class="newAdd" href="addressManage.html">
			<span>新增收货地址</span>
			<em></em>
		</a>
		<div class="addressList">
			<div>
				<p><span>小达</span><b>13500000000</b></p>
				<h3>广东省 深圳市 福田区福田区福田区福田区 卓越大厦2208</h3>
			</div>
			<div class="default">
				<b class="" onclick="defaultFun(this)">默认地址</b>
				<span class="deleteicon">删除</span>
				<span class="compile">编辑</span>
			</div>
		</div>
		<div class="addressList">
			<div>
				<p><span>小达</span><b>13500000000</b></p>
				<h3>广东省 深圳市 福田区福田区福田区福田区 卓越大厦2208</h3>
			</div>
			<div class="default">
				<b onclick="defaultFun(this)">默认地址</b>
				<span class="deleteicon">删除</span>
				<span class="compile">编辑</span>
			</div>
		</div>
		<div class="addressList">
			<div>
				<p><span>小达</span><b>13500000000</b></p>
				<h3>广东省 深圳市 福田区福田区福田区福田区 卓越大厦2208</h3>
			</div>
			<div class="default">
				<b onclick="defaultFun(this)">默认地址</b>
				<span class="deleteicon">删除</span>
				<span class="compile">编辑</span>
			</div>
		</div>
		<div class="addressList">
			<div>
				<p><span>小达</span><b>13500000000</b></p>
				<h3>广东省 深圳市 福田区福田区福田区福田区 卓越大厦2208</h3>
			</div>
			<div class="default">
				<b onclick="defaultFun(this)">默认地址</b>
				<span class="deleteicon">删除</span>
				<span class="compile">编辑</span>
			</div>
		</div>
		<div class="addressList">
			<div>
				<p><span>小达</span><b>13500000000</b></p>
				<h3>广东省 深圳市 福田区福田区福田区福田区 卓越大厦2208</h3>
			</div>
			<div class="default">
				<b onclick="defaultFun(this)">默认地址</b>
				<span class="deleteicon">删除</span>
				<span class="compile">编辑</span>
			</div>
		</div>
		<!-- InstanceEndEditable -->
		<!--模板页底部只能在Main.dwt里面修改-->
		<footer>
			安全·营养·口感食安定制食品
		</footer>
	</body>
	<!-- InstanceEnd -->

</html>