<!doctype html>
<html><!-- InstanceBegin template="/Templates/Main.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>迎面养生</title>
<!-- InstanceEndEditable -->
<link href="../Statics/reset.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="../StaticsJS/resizerem.js"></script>
<script type="text/javascript" src="../StaticsJS/zepto.min.js"></script>
<link href="../Statics/main.css" rel="stylesheet" type="text/css"/>
<!-- InstanceBeginEditable name="head" -->
<link rel="stylesheet" href="../Statics/swiper.min.css" type="text/css" />
<link href="../Statics/Index.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="../StaticsJS/swiper.js" ></script>
<script src="../StaticsJS/Index.js" type="text/javascript"></script>
<!-- InstanceEndEditable -->
</head>

<body>
<!--模板页头部只能在Main.dwt里面修改-->
<header></header>
<!-- InstanceBeginEditable name="demo" -->
<div class="swiper-container">
	<div class="User"><a href="personal.html"></a></div>
    <div class="swiper-wrapper">
        <div class="swiper-slide"><a href="javascript:"><img src="../images/banner1.png" /></a></div>
        <div class="swiper-slide"><a href="javascript:"><img src="../images/banner2.png" /></a></div>
        <div class="swiper-slide"><a href="javascript:"><img src="../images/banner3.png" /></a></div>
        <div class="swiper-slide"><a href="javascript:"><img src="../images/banner4.png" /></a></div>
        <div class="swiper-slide"><a href="javascript:"><img src="../images/banner5.png" /></a></div>
    </div>
    <div class="swiper-pagination"></div>
</div>

<div class="proList">
	<!--番茄赢面-->
	<div class="list">
		<div class="list_tit">
			<span>吃番茄赢面，把爱给自己</span>
		</div>
		<div class="list_Con">
			<h3>迎面养生&nbsp;&bull;&nbsp;番茄赢面</h3>
			<h4>新鲜番茄为天然麦香更添清新</h4>
			<div>
				<div>
					<p><em>100</em><i>元</i>/5包/盒</p>
					<a href="productDetails.html?ProID=CF0005_D&&ProductName=fanqie">立即抢购</a>
				</div>
				<div>
					<p><em>600</em><i>元</i>/6盒 /箱</p>
					<a href="productDetails.html?ProID=CF0005&&ProductName=fanqie">立即抢购</a>
				</div>
			</div>
		</div>
	</div>
	<!--紫薯赢面-->
	<div class="list zishuyingmian">
		<div class="list_tit">
			<span>吃紫薯赢面，重温老味道</span>
		</div>
		<div class="list_Con">
			<h3>迎面养生&nbsp;&bull;&nbsp;紫薯赢面</h3>
			<h4>紫薯浓香，仿佛儿时的味道</h4>
			<div>
				<div>
					<p><em>100</em><i>元</i>/5包/盒</p>
					<a href="productDetails.html?ProID=CF0006_D&&ProductName=zishu">立即抢购</a>
				</div>
				<div>
					<p><em>600</em><i>元</i>/6盒 /箱</p>
					<a href="productDetails.html?ProID=CF0006&&ProductName=zishu">立即抢购</a>
				</div>
			</div>
		</div>
	</div>
	<!--南瓜赢面-->
	<div class="list nanguayingmian">
		<div class="list_tit">
			<span>吃南瓜赢面，日子甜起来</span>
		</div>
		<div class="list_Con">
			<h3>迎面养生&nbsp;&bull;&nbsp;南瓜赢面</h3>
			<h4>南瓜香甜，一家人吃得更甜</h4>
			<div>
				<div>
					<p><em>100</em><i>元</i>/5包/盒</p>
					<a href="productDetails.html?ProID=CF0062_D&&ProductName=nangua">立即抢购</a>
				</div>
				<div>
					<p><em>600</em><i>元</i>/6盒 /箱</p>
					<a href="productDetails.html?ProID=CF0062&&ProductName=nangua">立即抢购</a>
				</div>
			</div>
		</div>
	</div>
	<!--黑麦赢面-->
	<div class="list heimaiyingmian">
		<div class="list_tit">
			<span>吃黑麦赢面，让心静一点</span>
		</div>
		<div class="list_Con">
			<h3>迎面养生&nbsp;&bull;&nbsp;黑麦赢面</h3>
			<h4>黑麦黑营养，吃得更放心</h4>
			<div>
				<div>
					<p><em>100</em><i>元</i>/5包/盒</p>
					<a href="productDetails.html?ProID=CF0060_D&&ProductName=heimai">立即抢购</a>
				</div>
				<div>
					<p><em>600</em><i>元</i>/6盒 /箱</p>
					<a href="productDetails.html?ProID=CF0060&&ProductName=heimai">立即抢购</a>
				</div>
			</div>
		</div>
	</div>
	<!--鹰豆赢面-->
	<div class="list yingdouyingmian">
		<div class="list_tit">
			<span>吃鹰豆赢面，离梦想更近</span>
		</div>
		<div class="list_Con">
			<h3>迎面养生&nbsp;&bull;&nbsp;鹰豆赢面</h3>
			<h4>加班吗？来碗鹰豆赢面，更有精神</h4>
			<div>
				<div>
					<p><em>100</em><i>元</i>/5包/盒</p>
					<a href="productDetails.html?ProID=CF0003_D&&ProductName=yingdou">立即抢购</a>
				</div>
				<div>
					<p><em>600</em><i>元</i>/6盒 /箱</p>
					<a href="productDetails.html?ProID=CF0003&&ProductName=yingdou">立即抢购</a>
				</div>
			</div>
		</div>
	</div>
	
</div>


<script language="javascript"> 
var mySwiper = new Swiper('.swiper-container',{
pagination : '.swiper-pagination',
autoplay :3000,
loop : true,
//pagination : '#swiper-pagination1',
})
</script>
<!-- InstanceEndEditable -->
<!--模板页底部只能在Main.dwt里面修改-->
<footer>
	安全·营养·口感食安定制食品
</footer>
</body>
<!-- InstanceEnd --></html>
