<!doctype html>
<html><!-- InstanceBegin template="C:\Users\wangzhihui\Desktop\mall\Templates\Main.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>订单详情</title>
<!-- InstanceEndEditable -->
<link href="../Statics/reset.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="../StaticsJS/resizerem.js"></script>
<script type="text/javascript" src="../StaticsJS/zepto.min.js"></script>
<link href="../Statics/main.css" rel="stylesheet" type="text/css"/>
<!-- InstanceBeginEditable name="head" -->
<link href="../Statics/swiper.css" rel="stylesheet" type="text/css"/>
<link href="../Statics/orderList.css" rel="stylesheet" type="text/css">
<script src="../StaticsJS/swiper.js" type="text/javascript"></script>
<script src="../StaticsJS/orderList.js" type="text/javascript"></script>
<!-- InstanceEndEditable -->
</head>

<body>
<!--模板页头部只能在Main.dwt里面修改-->
<header></header>
<!-- InstanceBeginEditable name="demo" -->
<nav class="tabs">
	<a href="javascript:" class="active">全部</a>
	<a href="javascript:">待付款</a>
	<a href="javascript:">待收货</a>
	<a href="javascript:">已完成</a>
</nav>
<section id="tabs-container" class="swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide" id="whole">
			<div>
				<div class="orderNumber">
					<span>订单编号：D0000000001</span>
					<b>待付款</b>
				</div>
				<div class="orderCon">
					<b class="light"></b>
					<div class="orderImg"><img src="../images/pic.png" alt="" /></div>
					<div class="orderName">
						<h3>迎面养生&nbsp;&bull;&nbsp;番茄赢面</h3>
						<h4>盒装/5包</h4>
						<p>
							<span><em>&yen;</em>100</span>
							<b>×1</b>
						</p>
						
					</div>
				</div>
				<div class="goDetails">
					<a href="javascript:">查看详情</a>
				</div>
				<div class="orderTotal">
					<b>&yen;700</b>
					<p>合计:</p>
					<span>共计1件商品</span>
				</div>
				<div class="orderState">
					<a href="javascript:">确认付款</a>
					<a href="javascript:">取消订单</a>
				</div>

			</div>
			<div>
				<div class="orderNumber">
					<span>订单编号：D0000000001</span>
					<b>待收货</b>
				</div>
				<div class="orderCon">
					<b class="light"></b>
					<div class="orderImg"><img src="../images/pic.png" alt="" /></div>
					<div class="orderName">
						<h3>迎面养生&nbsp;&bull;&nbsp;番茄赢面</h3>
						<h4>盒装/5包</h4>
						<p>
							<span><em>&yen;</em>100</span>
							<b>×1</b>
						</p>
					</div>
				</div>
				<div class="goDetails">
					<a href="javascript:">查看详情</a>
				</div>
<!--
				<div class="orderTotal">
					<b>&yen;700</b>
					<p>合计:</p>
					<span>共计1件商品</span>
				</div>
				<div class="orderState">
					<a href="javascript:">确认付款</a>
					<a href="javascript:">取消订单</a>
				</div>
-->
				<div class="orderLogistics">
					<a href="javascript:">查看物流</a>
				</div>
			</div>
			<div>
				<div class="orderNumber">
					<span>订单编号：D0000000001</span>
					<b>已完成</b>
				</div>
				<div class="orderCon">
					<b class="light"></b>
					<div class="orderImg"><img src="../images/pic.png" alt="" /></div>
					<div class="orderName">
						<h3>迎面养生&nbsp;&bull;&nbsp;番茄赢面</h3>
						<h4>盒装/5包</h4>
						<p>
							<span><em>&yen;</em>100</span>
							<b>×1</b>
						</p>
					</div>
				</div>
				<div class="goDetails">
					<a href="javascript:">查看详情</a>
				</div>
<!--
				<div class="orderTotal">
					<b>&yen;700</b>
					<p>合计:</p>
					<span>共计1件商品</span>
				</div>
				<div class="orderState">
					<a href="javascript:">确认付款</a>
					<a href="javascript:">取消订单</a>
				</div>
				<div class="orderLogistics">
					<a href="javascript:">查看物流</a>
				</div>
-->
			</div>

		</div>
		<div class="swiper-slide" id="pendingPay">
			<div>
				<div class="orderNumber">
					<span>订单编号：D0000000001</span>
					<b>待付款</b>
				</div>
				<div class="orderCon">
					<b class="light"></b>
					<div class="orderImg"><img src="../images/pic.png" alt="" /></div>
					<div class="orderName">
						<h3>迎面养生&nbsp;&bull;&nbsp;番茄赢面</h3>
						<h4>盒装/5包</h4>
						<p>
							<span><em>&yen;</em>100</span>
							<b>×1</b>
						</p>
					</div>
				</div>
				<div class="goDetails">
					<a href="javascript:">查看详情</a>
				</div>
				<div class="orderTotal">
					<b>&yen;700</b>
					<p>合计:</p>
					<span>共计1件商品</span>
				</div>
				<div class="orderState">
					<a href="javascript:">确认付款</a>
					<a href="javascript:">取消订单</a>
				</div>

			</div>
			<div>
				<div class="orderNumber">
					<span>订单编号：D0000000001</span>
					<b>待付款</b>
				</div>
				<div class="orderCon">
					<b class="light"></b>
					<div class="orderImg"><img src="../images/pic.png" alt="" /></div>
					<div class="orderName">
						<h3>迎面养生&nbsp;&bull;&nbsp;番茄赢面</h3>
						<h4>盒装/5包</h4>
						<p>
							<span><em>&yen;</em>100</span>
							<b>×1</b>
						</p>
					</div>
				</div>
				<div class="goDetails">
					<a href="javascript:">查看详情</a>
				</div>
				<div class="orderTotal">
					<b>&yen;700</b>
					<p>合计:</p>
					<span>共计1件商品</span>
				</div>
				<div class="orderState">
					<a href="javascript:">确认付款</a>
					<a href="javascript:">取消订单</a>
				</div>

			</div>
		</div>
		<div class="swiper-slide" id="stayHarvest">
			<div>
				<div class="orderNumber">
					<span>订单编号：D0000000001</span>
					<b>待收货</b>
				</div>
				<div class="orderCon">
					<b class="light"></b>
					<div class="orderImg"><img src="../images/pic.png" alt="" /></div>
					<div class="orderName">
						<h3>迎面养生&nbsp;&bull;&nbsp;番茄赢面</h3>
						<h4>盒装/5包</h4>
						<p>
							<span><em>&yen;</em>100</span>
							<b>×1</b>
						</p>
					</div>
				</div>
				<div class="goDetails">
					<a href="javascript:">查看详情</a>
				</div>
<!--
				<div class="orderTotal">
					<b>&yen;700</b>
					<p>合计:</p>
					<span>共计1件商品</span>
				</div>
				<div class="orderState">
					<a href="javascript:">确认付款</a>
					<a href="javascript:">取消订单</a>
				</div>
-->
				<div class="orderLogistics">
					<a href="javascript:">查看物流</a>
				</div>
			</div><div>
				<div class="orderNumber">
					<span>订单编号：D0000000001</span>
					<b>待收货</b>
				</div>
				<div class="orderCon">
					<b class="light"></b>
					<div class="orderImg"><img src="../images/pic.png" alt="" /></div>
					<div class="orderName">
						<h3>迎面养生&nbsp;&bull;&nbsp;番茄赢面</h3>
						<h4>盒装/5包</h4>
						<p>
							<span><em>&yen;</em>100</span>
							<b>×1</b>
						</p>
					</div>
				</div>
				<div class="goDetails">
					<a href="javascript:">查看详情</a>
				</div>
<!--
				<div class="orderTotal">
					<b>&yen;700</b>
					<p>合计:</p>
					<span>共计1件商品</span>
				</div>
				<div class="orderState">
					<a href="javascript:">确认付款</a>
					<a href="javascript:">取消订单</a>
				</div>
-->
				<div class="orderLogistics">
					<a href="javascript:">查看物流</a>
				</div>
			</div>
		</div>
		<div class="swiper-slide" id="completed">
			<div>
				<div class="orderNumber">
					<span>订单编号：D0000000001</span>
					<b>已完成</b>
				</div>
				<div class="orderCon">
					<b class="light"></b>
					<div class="orderImg"><img src="../images/pic.png" alt="" /></div>
					<div class="orderName">
						<h3>迎面养生&nbsp;&bull;&nbsp;番茄赢面</h3>
						<h4>盒装/5包</h4>
						<p>
							<span><em>&yen;</em>100</span>
							<b>×1</b>
						</p>
					</div>
				</div>
				<div class="goDetails">
					<a href="javascript:">查看详情</a>
				</div>
			</div>
<!--
			<div>
				<div class="orderNumber">
					<span>订单编号：D0000000001</span>
					<b>已完成</b>
				</div>
				<div class="orderCon">
					<b class="light"></b>
					<div class="orderImg"><img src="../images/pic.png" alt="" /></div>
					<div class="orderName">
						<h3>迎面养生&nbsp;&bull;&nbsp;番茄赢面</h3>
						<h4>盒装/5包</h4>
						<p>
							<span><em>&yen;</em>100</span>
							<b>×1</b>
						</p>
					</div>
				</div>
				<div class="goDetails">
					<a href="javascript:">查看详情</a>
				</div>
			</div>
-->
		</div>
	</div>

</section>

<!-- InstanceEndEditable -->
<!--模板页底部只能在Main.dwt里面修改-->
<footer>
	安全·营养·口感食安定制食品
</footer>
</body>
<!-- InstanceEnd --></html>
