<!doctype html>
<html>
	<!-- InstanceBegin template="/Templates/Main.dwt" codeOutsideHTMLIsLocked="false" -->

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<!-- InstanceBeginEditable name="doctitle" -->
		<title>商品详情</title>
		<!-- InstanceEndEditable -->
		<link rel="stylesheet" href="../Statics/mui.min.css" />
		<link href="../Statics/reset.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="../StaticsJS/resizerem.js"></script>
		<script type="text/javascript" src="../StaticsJS/zepto.min.js"></script>

		<link href="../Statics/main.css" rel="stylesheet" type="text/css" />
		<!-- InstanceBeginEditable name="head" -->
		<link rel="stylesheet" href="../Statics/swiper.min.css" type="text/css" />
		<link href="../Statics/productDetails.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="../StaticsJS/swiper.js"></script>

		<!-- InstanceEndEditable -->
	</head>

	<body>
		<!--模板页头部只能在Main.dwt里面修改-->
		<header></header>
		<!-- InstanceBeginEditable name="demo" -->
		<div class="mui-content">
			<div id="zishuCoLor" class="mui-slider">
				<div class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<a class="mui-control-item" href="#item1mobile">
						盒装
					</a>
					<a id="sliderA" class="mui-control-item" href="#item2mobile">
						箱装
					</a>
				</div>
				<div id="" class="mui-slider-progress-bar mui-col-xs-6"></div>
				<div class="mui-slider-group">

					<div id="item1mobile" class="mui-slider-item mui-control-content">
						<div id="" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="swiper-container">
									<!--<div class="User"><a href="personal.html"></a></div>-->
									<div class="swiper-wrapper" id="hezhuangBanner">
										<!--<div class="swiper-slide">
											<a href="javascript:"><img src="../images/fanqiemianHe.png" /></a>
										</div>
										<div class="swiper-slide">
											<a href="javascript:"><img src="../images/fanqiemianXiang.png" /></a>
										</div>-->
									</div>
									<div class="swiper-pagination"></div>
								</div>
								<div class="spec" id="hezhuangspec">
									<!--<dl>
										<dt>迎面养生·番茄迎面</dt>
										<dd>5包／盒|300g／包</dd>
									</dl>
									<p>&yen;<i>100</i>.00／盒</p>-->
								</div>
								<div class="skilled">
									<h3>您想买几盒：</h3>
									<div>
										<a class="light" href="javascript:">1</a>
										<a href="javascript:">2</a>
										<a href="javascript:">3</a>
										<a href="javascript:">4</a>
										<a href="javascript:">5</a>
										<a href="javascript:" class="more">更多</a>
									</div>
								</div>
								<div class="DetailsPic" id="hezhuangDetailsPic">
									<!--<img src="../images/fanqieDetails.png" alt="" />-->
								</div>
								<div class="Other" id="hezhuangOther">
									<div>
										<!--<a href="javascript:">
											<img src="../images/zishupic.png" alt="" />
											<b class="zishu">紫薯赢面 </b>
										</a>
										<a href="javascript:">
											<img src="../images/zishupic.png" alt="" />
											<b class="zishu">紫薯赢面 </b>
										</a>-->
									</div>
									<div></div>

								</div>
								<footer>
									安全·营养·口感食安定制食品
								</footer>
							</div>
						</div>
					</div>

					<div id="item2mobile" class="mui-slider-item mui-control-content">
						<div id="" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="swiper-container">
									<!--<div class="User"><a href="personal.html"></a></div>-->
									<div class="swiper-wrapper" id="xiangzhuangBanner">
										<!--<div class="swiper-slide">
											<a href="javascript:"><img src="../images/fanqiemianXiang.png" /></a>
										</div>
										<div class="swiper-slide">
											<a href="javascript:"><img src="../images/fanqiemianHe.png" /></a>
										</div>-->
									</div>
									<div class="swiper-pagination"></div>
								</div>
								<div class="spec" id="xiangzhuangspec">
									<!--<dl>
										<dt>迎面养生·番茄迎面</dt>
										<dd>5包／盒|300g／包</dd>
									</dl>
									<p>¥<i>100</i>.00／盒</p>-->
								</div>
								<div class="skilled">
									<h3>您想买几箱：</h3>
									<div>
										<a class="light" href="javascript:">1</a>
										<a href="javascript:">2</a>
										<a href="javascript:">3</a>
										<a href="javascript:">4</a>
										<a href="javascript:">5</a>
										<a href="javascript:" class="more">更多</a>
									</div>
								</div>
								<div class="DetailsPic" id="xiangzhuangDetailsPic">
									<!--<img src="../images/fanqieDetails.png" alt="" />-->
								</div>
								<div class="Other" id="xiangzhuangOther">
									<!--<div>
										<article>
											<img src="../images/zishupic.png" alt="" />
											<a class="zishu" href="javascript:">紫薯赢面 </a>
										</article>
										<article>
											<img src="../images/heimaipic.png" alt="" />
											<a class="heimai" href="javascript:">黑麦赢面  </a>
										</article>
									</div>
									<div>
										<article>
											<img src='../images/nanguapic.png' alt="" />
											<a class="nangua" href="javascript:">南瓜赢面  </a>
										</article>
										<article>
											<img src="../images/yingdoupic.png" alt="" />
											<a class="yingdou" href="javascript:">鹰豆赢面  </a>
										</article>
									</div>-->
								</div>
								<footer>
									安全·营养·口感食安定制食品
								</footer>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="Settlement">
			<a href="shoppingCart.html">购物车<i>3</i></a>
			<span>加入购物车</span>
			<a href="orderDetails.html">立即购买</a>
		</div>
		<script type="text/javascript" src="../StaticsJS/mui.min.js"></script>

		<!-- InstanceEndEditable -->
		<!--模板页底部只能在Main.dwt里面修改-->
		<script src="../StaticsJS/productDetails.js" type="text/javascript" charset="UTF-8"></script>
		<script>
			mui.init({
				swipeBack: false
			});
			if(!ProID.split("_")[1]) {
				mui('.mui-slider').slider().gotoItem(1);
			}
			$(function() {
				$(".skilled div").on('tap', 'a', function() {
					$(this).addClass("light").siblings().removeClass("light")
				})
			})


			var reg = new RegExp("^[1-9]*$");
			var moreLisrt = document.querySelectorAll(".more");
			for(var i = 0; i < moreLisrt.length; i++) {
				moreLisrt[i].addEventListener("tap", function(e) {
					var that = $(this);
					e.detail.gesture.preventDefault();
					var btnArray = ['取消', '确定'];
					mui.prompt('请输入要购买的数量', ' ', ' ', btnArray, function(e) {
						if(e.value == "") {
							mui.toast('请输入要购买的数量');
							return;
						}
						if(!reg.test(e.value)) {
							//							alert("00")
							mui.toast('输入的数量有误');
						} else {

							if(e.index == 1) {
								that.addClass("light").siblings().removeClass("light")
								that.html(e.value)
								//							info.innerText = '谢谢你的评语：' + e.value;
							} else {
								that.html("更多")
								that.removeClass("light").siblings().removeClass("light").parent().find("a").eq(0).addClass("light")
								//							info.innerText = '你点了取消按钮';
							}
						}
					})
				})
			}

			//			$("#navClassA").click()
			(function($) {
				//				console.log(Zepto(".mui-slider-indicator").height())
				//				console.log(Zepto('footer').height())
				var HeightS = Zepto(window).height() - Zepto(".mui-slider-indicator").height() - Zepto('footer').height();
				Zepto(".mui-control-content").height(HeightS - 25)
				$('.mui-scroll-wrapper').scroll({
					indicators: false //是否显示滚动条
				});
				//				var mySwiper = new Swiper('.swiper-container', {
				//					pagination: '.swiper-pagination',
				////					autoplay: 3000,
				//					loop: true,
				//					//pagination : '#swiper-pagination1',
				//				})
			})(mui);
		</script>

	</body>
	<!-- InstanceEnd -->

</html>