@charset "utf-8";
/* CSS Document */

nav{display: flex; justify-content:space-around; position: fixed; top: 0; z-index: 2; width:100%; height: 0.9rem; background: #fff; border-bottom: 0.04rem solid #f2f2f2;}
nav a{ display:block; position: relative; color:#000000; top: 0.04rem; border-bottom:0.04rem solid #f2f2f2;font-size:0,32rem; height: 0.86rem; line-height: 0.86rem; }
nav a.active{border-bottom-color: #df0606; color: #df0606; }

.swiper-container{
	margin-top: 0.9rem;
}
.swiper-wrapper{
	/*overflow: hidden;*/
}
.swiper-slide > div{
	margin-bottom: 0.1rem;
	padding-top:0.25rem;
	background: #fff;
	overflow:hidden;
}
.swiper-slide > div > div{clear: both;padding-left: 0.34rem;
	padding-right: 0.34rem;}
.swiper-slide > div .orderNumber{
	clear: both
}
.swiper-slide > div .orderNumber span{
	float: left;
	font-size: 0.3rem;
	color: #000000;
}
.swiper-slide > div .orderNumber b{
	float: right;
	color: #e80c0c;
	font-weight: normal;
	font-size: 0.3rem;
}

/*查看物流*/
.swiper-slide > div .orderLogistics{
	 height:0.89rem;
	border-top:1px solid #f2f2f2;

}
.swiper-slide > div .orderLogistics a{float: right; color: #808080; font-size:0.34rem;line-height:0.89rem;}
.swiper-slide > div .orderLogistics a::after{content: '';  display: inline-block; margin-left:0.32rem; background: url(../images/Arrow3.png) no-repeat center center; width: 0.14rem;height: 0.24rem; background-size: 100% 100%;}

/*查看详情*/
.swiper-slide > div .goDetails{
	height:0.88rem;
	border-top:1px solid #f2f2f2;
	text-align: center;
}
.swiper-slide > div .goDetails a{color: #000000; display: inline-block;font-size:0.34rem;line-height:0.88rem;}

/*确认付款*/
.swiper-slide > div .orderState{
	height:0.88rem;
	border-top:1px solid #f2f2f2;
}
.swiper-slide > div .orderState a{
	width: 1.5rem;
	height: 0.54rem;
	float: right;
	text-align: center;
	line-height: 0.54rem;
	color: #e91b1b;
	font-size: 0.3rem;
	margin-left: 0.32rem;
	border:1px solid #e91b1b;
	margin-top: 0.17rem;
}
.swiper-slide > div .orderState a:last-child{
	color: #808080;
	border-color: #808080;
}

/*合计*/
.swiper-slide > div .orderTotal{
	height:0.88rem;
	border-top:1px solid #f2f2f2;
}
.swiper-slide > div .orderTotal span{
	float: right;
	line-height:0.88rem;
	font-size: 0.26rem;
	color: #808080;
}
.swiper-slide > div .orderTotal b{float:right; line-height: 0.88rem; color: #e80c0c; font-weight: normal;margin-left: 0.02rem; font-size: 0.32rem;}
.swiper-slide > div .orderTotal p{float:right; line-height: 0.88rem; color: #010101; font-size:0.3rem; margin-left: 0.18rem;}

/*orderCon*/
.swiper-slide > div .orderCon{
	overflow: hidden;
	height:2.3rem;
	margin-top:0.14rem;
	display:-webkit-box;
}
.swiper-slide > div .orderCon > b{width: 0.31rem; position: relative;margin-top: 0.96rem; height: 0.31rem; background: #df0606; float: left; }
.swiper-slide > div .orderCon > b.light::before{ width: 0.2rem; left:0.06rem; top: 0.07rem; content: ''; position: absolute;display: inline-block; height: 0.15rem; background: url(../images/Selected.png) no-repeat; background-size: 100% 100%;}
.swiper-slide > div .orderCon .orderImg{ width: 2.06rem; height: 1.29rem; margin-top: 0.40rem; margin-left: 0.38rem; clear: none;}
.swiper-slide > div .orderCon .orderImg img{width: 100%; height: 100%;}

.swiper-slide > div .orderCon .orderName{margin-left: 0.5rem;-webkit-box-flex:1;}
.swiper-slide > div .orderCon .orderName h3{ color: #000000; font-size:0.32rem; margin-top: 0.3rem;}
.swiper-slide > div .orderCon .orderName h4{ color: #4c4c4c; font-size: 0.26rem; margin: 0.08rem 0 0.15rem 0;}
.swiper-slide > div .orderCon .orderName p{ clear: both;}
.swiper-slide > div .orderCon .orderName p span{ color:#e80c0c; float: left; font-size: 0.32rem;}
.swiper-slide > div .orderCon .orderName p span em{ font-size:0.24rem;}
.swiper-slide > div .orderCon .orderName p b{ float: right;color:#e80c0c; font-weight: normal; font-size: 0.36rem;}
